<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MainPageActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--        home-->
        <activity android:name=".SubpageHomeBookkeep"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SubpageHomeBooktrans"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SubpageHomeCalendar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SubpageHomeAdd"
            android:screenOrientation="portrait">
        </activity>

        <!--        setting-->
        <activity android:name=".SubpageSettingRecommend"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SubpageSettingFindDev"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SubpageSettingAbout"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SubpageSettingAcknowledgment"
            android:screenOrientation="portrait">
        </activity>

        <!--        tool-->
        <activity android:name=".ToolDefaultActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>